* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 0;
  background-color: rgb(13, 150, 13, 0.8);
  font-family: "Oswald", sans-serif;
}

p {
  font-size: 20px;
  margin: 0, 0, 10px, 0;
}

h2 {
  margin: 0px;
}

button {
  font-size: 20px;
  padding: 10px;
}

.grid-wrapper {
  border: 2px solid black;
  margin-top: 100px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  display: none;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 750px;
}

.grid div {
  justify-content: center;
  align-items: center;
  /* border: 6px, solid, black; */
  flex-grow: 1;
  height: 8%;
  width: 67px;
  margin: -1;
}

.info {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 850px;
}

.controls {
  background-image: url("../images/controls.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 300px;
}

.level {
  display: flex;
  align-self: flex-start;
  padding: 60px;
}

.start-game {
  display: flex;
}

.game-over,
.game-won,
.game-beat {
  display: none;
}

.start-game,
.game-over,
.game-won,
.game-beat {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 750px;
}

.road {
  background-image: url("../images/road.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}

.boot {
  background-image: url("../images/old_boots.png");
  background-repeat: no-repeat;
  background-size: contain;

  /* width: 10px; */
}

.road-boot {
  background-image: url("../images/road-boot.jpeg");
  background-size: contain;
}

.lane-one {
  background-image: url("../images/yellow-car-road.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}

.lane-two {
  background-image: url("../images/red-car-road.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}

.frisbee {
  background-image: url("../images/frisbee.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.green-patch {
  background-color: brown;
}
